.bookkeeping-tall-field > * > textarea{
  width:16em;
  height: 14em;
}

.text-snippets-class > div > div {
}

.text-snippets-class > * {
  height: 100%;
  width: 60em;
}

.text-snippets-class {
  height: 70%;
  background-color:
}
